<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="community">
	<select id="selectList" resultType="com.kh.couplism.community.model.vo.Event">
		select * from event order by eventNo desc 
	</select>
	
	<select id="selectEvent" parameterType="_int" resultType="com.kh.couplism.community.model.vo.Event">
		select * from event where eventNo=#{eventNo}
	</select>
	
	<select id="insertEvent" parameterType="com.kh.couplism.community.model.vo.Event">
		insert into event values(seq_eventNo.nextval,#{eventTitle},#{eventWriter},#{eventContent},#{eventOriginalFilename},#{eventRenamedFilename})
	</select>
</mapper>
